.hidden {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 56.25rem;
  margin: auto;
}

.pagina {
  background-color: lightcoral;
  padding: 30px;
}

.schede {
  background-color: lightgoldenrodyellow;
  padding: 2rem;
  border-radius: 1.5rem;
}

.dati {
  margin-bottom: 2rem;
}

h2 {
  text-align: center;
}

.inserimento {
  display: flex;
  justify-content: space-around;
}

label,
imput {
  display: block;
}

.bottoni {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}

.ticket {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}

#nome-passeggero,
#carrozza {
  margin-bottom: 1.5rem;
}
